[Unit]
Description=Home Assistant Linux Companion
Documentation=https://github.com/benleb/halinuxcompanion
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/env halinuxcompanion
Restart=always
RestartSec=30

# Security hardening
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
NoNewPrivileges=yes
ReadWritePaths=%h/.local/state/halinuxcompanion %h/.config/halinuxcompanion
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM

[Install]
WantedBy=default.target
