[Unit]
Description=Home Assistant Linux Companion
Documentation=https://github.com/benleb/halinuxcompanion
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/env halinuxcompanion
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
